<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>usual tv</title>

    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

    <script>
        function refill() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/refill', true);
            xhr.send();
        }


        function skipVideo() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/skip', true);
            xhr.send();
        }
    </script>
</head>

<body>

    <h1>📺</h1>

    <video id="video" controls autoplay>
        <source src="static/stream.m3u8" type="application/x-mpegURL">
        Your browser does not support the video tag or the file format of this video.
    </video>

    <script>
        if (Hls.isSupported()) {
            var video = document.getElementById('video');
            var hls = new Hls();
            hls.loadSource('static/stream.m3u8');
            hls.attachMedia(video);
        }
    </script>

    <br>
    <br>
<div style="font-size: 3em;">
    <button onclick="skipVideo()">Skip</button>
    <button onclick="refill()">Refill</button>
</div>

    <br>
    <hr>

    <ul>
        <% items.forEach(function(item) { %>
            <li><%= item %></li>
        <% }); %>
    </ul>

    <!-- <p>: <%= myVariable %> </p> -->
</body>

</html>
